* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background: #000000;
  color: #fff;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f59d10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.contact-page {
  padding: 60px;
  max-width: 800px;
  margin: auto;
}

.contact-page h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.contact-page p {
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 15px;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 12px;
  background: #111;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #f79d0c;
  color: black;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 1200px) {
}

@media (min-width: 769px) and (max-width: 1190px) {
  .contact-page {
    padding: 20px;
  }
}

@media (min-width: 576px) and (max-width: 758px) {
  .nav-links {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}
